//site color variables
$body-color: #f0ffff;
$primary-color: #db7093; //pink
$secondary-color: #00c5cd; //green
$text-color: #9D9EA5;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #f5f5f5; // light gray
$dark-gray: #646569;

// solid colors
$white: #eee9e9;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
